[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
gym = "*"
numpy = "*"
atari-py = "*"
tensorflow = "==1.12.3"
matplotlib = "*"
h5py = "*"
tensorflow-gpu = "==1.12.3"

[requires]
python_version = "3.6"
